.icon-c {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/c.svg);
  background-repeat: no-repeat;
}
.icon-clojure {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/clojure.svg);
  background-repeat: no-repeat;
}
.icon-coffeescript {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/coffeescript.svg);
  background-repeat: no-repeat;
}
.icon-cpp {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/cpp.svg);
  background-repeat: no-repeat;
}
.icon-css {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/css.svg);
  background-repeat: no-repeat;
}
.icon-dart {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/dart.svg);
  background-repeat: no-repeat;
}
.icon-dockerfile {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/docker.svg);
  background-repeat: no-repeat;
}
.icon-erlang {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/erlang.svg);
  background-repeat: no-repeat;
}
.icon-fsharp {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/fsharp.svg);
  background-repeat: no-repeat;
}
.icon-haskell {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/haskell.svg);
  background-repeat: no-repeat;
}
.icon-html {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/html.svg);
  background-repeat: no-repeat;
}
.icon-go {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/go.svg);
  background-repeat: no-repeat;
}
.icon-java {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/java.svg);
  background-repeat: no-repeat;
}
.icon-javascript {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/javascript.svg);
  background-repeat: no-repeat;
}
.icon-json {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/json.svg);
  background-repeat: no-repeat;
}
.icon-julia {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/julia.svg);
  background-repeat: no-repeat;
}
.icon-kotlin {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/kotlin.svg);
  background-repeat: no-repeat;
}
.icon-lua {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/lua.svg);
  background-repeat: no-repeat;
}
.icon-markdown {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/markdown.svg);
  background-repeat: no-repeat;
}
.icon-ocaml {
  width: 25px;
  height: 20px;
  background-image: url(../icons/OCaml_Sticker.svg);
  background-repeat: no-repeat;
}
.icon-perl {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/perl.svg);
  background-repeat: no-repeat;
}
.icon-php {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/php.svg);
  background-repeat: no-repeat;
}
.icon-python {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/python.svg);
  background-repeat: no-repeat;
}
.icon-r {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/r.svg);
  background-repeat: no-repeat;
}
.icon-ruby {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/ruby.svg);
  background-repeat: no-repeat;
}
.icon-rust {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/rust.svg);
  background-repeat: no-repeat;
}
.icon-scala {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/scala.svg);
  background-repeat: no-repeat;
}
.icon-scss {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/sass.svg);
  background-repeat: no-repeat;
}
.icon-svg {
  width: 25px;
  height: 20px;
  background-image: url(../icons/SuperTinyIcons/svg.svg);
  background-repeat: no-repeat;
}
.icon-swift {
  width: 25px;
  height: 20px;
  background-image: url(../icons/seeklogo/swift.svg);
  background-repeat: no-repeat;
}
.icon-typescript {
  width: 25px;
  height: 20px;
  background-image: url(../icons/freeicons/typescript.svg);
  background-repeat: no-repeat;
}
.icon-yaml {
  width: 25px;
  height: 20px;
  background-image: url(../icons/yaml.svg);
  background-repeat: no-repeat;
}
