@font-face {
  font-family: "freeicon";
  src: url("freeicon.eot");
  src: url("freeicon.eot?#iefix") format("eot"),
    url("freeicon.woff2") format("woff2"),
    url("freeicon.woff") format("woff"),
    url("freeicon.ttf") format("truetype"),
    url("freeicon.svg#freeicon") format("svg");
}

.freeicon:before {
  font-family: "freeicon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.freeicon-wifi-off:before {
  content: "\E001";
}
