.icon-c {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/c.svg);
  background-repeat: no-repeat;

}
.icon-clojure {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/clojure.svg);
  background-repeat: no-repeat;

}
.icon-coffeescript {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/coffeescript.svg);
  background-repeat: no-repeat;

}
.icon-cpp {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/cpp.svg);
  background-repeat: no-repeat;

}
.icon-css {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/css.svg);
  background-repeat: no-repeat;

}
.icon-dockerfile {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/docker.svg);
  background-repeat: no-repeat;

}
.icon-haskell {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/haskell.svg);
  background-repeat: no-repeat;

}
.icon-html {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/html.svg);
  background-repeat: no-repeat;

}
.icon-go {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/go.svg);
  background-repeat: no-repeat;

}
.icon-java {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/java.svg);
  background-repeat: no-repeat;

}
.icon-javascript {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/javascript.svg);
  background-repeat: no-repeat;

}
.icon-json {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/json.svg);
  background-repeat: no-repeat;

}
.icon-julia {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/julia.svg);
  background-repeat: no-repeat;

}
.icon-kotlin {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/kotlin.svg);
  background-repeat: no-repeat;

}
.icon-markdown {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/markdown.svg);
  background-repeat: no-repeat;

}
.icon-ocaml {
  width: 25px;
  height: 20px;
  background-image: url(OCaml_Sticker.svg);
  background-repeat: no-repeat;

}
.icon-php {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/php.svg);
  background-repeat: no-repeat;

}
.icon-python {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/python.svg);
  background-repeat: no-repeat;

}
.icon-r {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/r.svg);
  background-repeat: no-repeat;

}
.icon-ruby {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/ruby.svg);
  background-repeat: no-repeat;

}
.icon-rust {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/rust.svg);
  background-repeat: no-repeat;

}
.icon-scss {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/sass.svg);
  background-repeat: no-repeat;

}
.icon-svg {
  width: 25px;
  height: 20px;
  background-image: url(SuperTinyIcons/svg.svg);
  background-repeat: no-repeat;

}
.icon-typescript {
  width: 25px;
  height: 20px;
  background-image: url(freeicons/typescript.svg);
  background-repeat: no-repeat;

}
.icon-yaml {
  width: 25px;
  height: 20px;
  background-image: url(yaml.svg);
  background-repeat: no-repeat;

}
