.vscode-logo {
  text-decoration: none;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  top: 3px;
  right: 15px;
  background: url(city-lights-three.svg) no-repeat 0 0;
  background-size: 36px 36px;
  position: absolute;
  z-index: 100000000;
}

hr {
  margin-bottom: 11px;
}

.tooltip > .tooltip-inner {
  background-color: #73AD21;
  color: #FFFFFF;
  border: 1px solid green;
  padding: 5px;
  font-size: 15px;
  width: 150%;
  max-width: 150%;
  text-align: justify;
  margin-left: 10px;
}

.tooltip.top > .tooltip-arrow {
  border-top: none;
}

.selectize-dropdown-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #363535;
}
.selectize-dropdown-content::-webkit-scrollbar {
  width: 12px;
  background-color: #363535;
}
.selectize-dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: red;
}

.selectize-input,
.selectize-dropdown-content {
  color: whitesmoke;
  background-color: #464545 !important;
}
.selectize-input.input-active>input {
  color: orangered;
}
.selectize-control.single .selectize-input:after {
  border-top-color: whitesmoke;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  border-bottom-color: whitesmoke;
}
.selectize-input>input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: antiquewhite !important;
  opacity: 0.5;
}
.selectize-input>input::-moz-placeholder { /* Firefox 19+ */
  color: antiquewhite !important;
  opacity: 0.5;
}
.selectize-input>input::-ms-input-placeholder { /* IE 10+ */
  color: antiquewhite !important;
  opacity: 0.5;
}
.selectize-input>input::-moz-placeholder { /* Firefox 18- */
  color: antiquewhite !important;
  opacity: 0.5;
}
.selectize-dropdown-content>.option:hover {
  background-color: rgba(176,224,230,0.7);
}
.selectize-dropdown-content>.option.active:not(:hover) {
  background-color: rgba(250,128,114,0.5);
}

input.form-control[readonly] {
  background-color: rgba(176, 196, 222, 0.5);
  padding: 8.25px 12px;
  height: auto;
}
input.form-control[readonly]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: powderblue !important;
}
input.form-control[readonly]::-moz-placeholder { /* Firefox 19+ */
  color: powderblue !important;
}
input.form-control[readonly]::-ms-input-placeholder { /* IE 10+ */
  color: powderblue !important;
}
input.form-control[readonly]::-moz-placeholder { /* Firefox 18- */
  color: powderblue !important;
}
.btn-file {
  font-style: oblique;
  font-weight: normal;
  font-size: 16px;
  padding: 6px 12px;
}

.alert .glyphicon {
  font-size: 30px;
}
.alert .header strong {
  font-size: 25px;
}
.alert pre {
  white-space: pre-line;
}

.input-group {
  border: solid 1px #ccc;
  border-radius: 4px;
}

#newTab {
  padding: 4px;
  margin-bottom: 18px;
  border: solid 1px #ccc;
}

/*
.glow-on-hover {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff730090,
    #fffb0090,
    #48ff0090,
    #00ffd590,
    #002bff90,
    #7a00ff90,
    #ff00c890,
    #ff000090
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #464545;
  left: 0;
  top: 0;
  border-radius: 4px;
}

.glow-on-hover:focus {
  outline: none;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
*/


.chrome-tab-favicon {
  background-repeat: no-repeat;
}
.chrome-tabs .chrome-tabs-bottom-bar {
  bottom: 1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.irs-min, .irs-max {
  color: white;
}

/* empty editor */
@keyframes red {
    0% {transform: rotate(0deg) translate(-40px) rotate(0deg) scale(1,1);}
    50% {transform: rotate(-180deg) translate(-40px) rotate(-180deg) scale(1,1.33);}
    100% {transform: rotate(-360deg) translate(-40px) rotate(-360deg) scale(1,1);}
}
@-webkit-keyframes red {
    0% {-webkit-transform: rotate(0deg) translate(-40px) rotate(0deg) scale(1,1);}
    50% {-webkit-transform: rotate(-180deg) translate(-40px) rotate(-180deg) scale(1,1.33);}
    100% {-webkit-transform: rotate(-360deg) translate(-40px) rotate(-360deg) scale(1,1);}
}
@-moz-keyframes red {
    0% {-moz-transform: rotate(0deg) translate(-40px) rotate(0deg) scale(1,1);}
    50% {-moz-transform: rotate(-180deg) translate(-40px) rotate(-180deg) scale(1,1.33);}
    100% {-moz-transform: rotate(-360deg) translate(-40px) rotate(-360deg) scale(1,1);}
}

@keyframes green {
    0% {transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);opacity:1}
    66% {transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1,1.33);opacity:.33}
    100% {transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);opacity:1}
}
@-webkit-keyframes green {
    0% {-webkit-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);opacity:1}
    66% {-webkit-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1,1.33);opacity:.33}
    100% {-webkit-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);opacity:1}
}
@-moz-keyframes green {
    0% {-moz-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);opacity:1;}
    66% {-moz-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1,1.33);opacity:.33;}
    100% {-moz-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);opacity:1;}
}

@keyframes blue {
    0% {transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);}
    33% {transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1.66,1);}
    100% {transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);}
}
@-webkit-keyframes blue {
    0% {-webkit-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);}
    33% {-webkit-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1.66,1);}
    100% {-webkit-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);}
}
@-moz-keyframes blue {
    0% {-moz-transform: rotate(0deg) translate(30px) rotate(0deg) scale(1,1);}
    33% {-moz-transform: rotate(180deg) translate(30px) rotate(-180deg) scale(1.66,1);}
    100% {-moz-transform: rotate(360deg) translate(30px) rotate(-360deg) scale(1,1);}
}

.radialred,
.radialgreen,
.radialblue {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}

.radialred {
    animation: red 7s linear infinite;
    -webkit-animation: red 7s linear infinite;
    -moz-animation: red 7s linear infinite;
    background-image: radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);
    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);
    background-image: -o-radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);
    background-image: -ms-radial-gradient(50% 50%, circle contain, rgba(222, 75, 218, .75), rgba(222, 75, 218, 0) 100%);
}

.radialblue {
    animation: blue 6s linear infinite;
    -webkit-animation:blue 6s linear infinite;
    -moz-animation:blue 6s linear infinite;
    background-image: radial-gradient(50% 50%, circle contain, rgba(86, 173, 223, .75), rgba(86, 173, 223, 0) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgba(86, 173, 223, .75), rgba(86, 173, 223, 0) 100%);
    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(86, 173, 223, .75), rgba(86, 173, 223, 0) 100%);
}

.radialgreen {
    animation: green 8s linear infinite;
    -webkit-animation: green 8s linear infinite;
    -moz-animation: green 8s linear infinite;
    background-image: radial-gradient(50% 50%, circle contain, rgba(210, 222, 12, .75), rgba(210, 222, 12, 0) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle contain, rgba(210, 222, 12, .75), rgba(210, 222, 12, 0) 100%);
    background-image: -moz-radial-gradient(50% 50%, circle contain, rgba(210, 222, 12, .75), rgba(210, 222, 12, 0) 100%);
}

/* tiny checkbox */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 5.5px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 5.5px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 5.5px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 13.2px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 13.2px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 13.2px;
  }
}
.check-box-input {
  display: none;
}
.check-box-label {
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  font-size: small;
}
.check-box-container {
  margin-bottom: 10px;
}
.check-box {
  height: 11px;
  width: 11px;
  background-color: #FEF2E0;
  border: 0.73333px solid darkviolet;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
  margin-bottom: -1px;
  margin-right: 2px;
  transform: scale(1.3);
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 2.2px;
  background-color: deeppink;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}
.check-box::before {
  top: 7.92px;
  left: 4.51px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box::after {
  top: 4.07px;
  left: 0.55px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type=checkbox]:checked + .check-box,
input[type=radio]:checked + .check-box,
.check-box.checked {
  border-color: #19197A;
  background-color: #FFFFF0;
}
input[type=checkbox]:checked + .check-box::after,
input[type=radio]:checked + .check-box::after,
.check-box.checked::after {
  height: 5.5px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
input[type=radio]:checked + .check-box::before,
.check-box.checked::before {
  height: 13.2px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
input[type=checkbox][disabled].check-box-input ~ label {
  opacity: 0.65;
  cursor: not-allowed;
}
